Repository fastats/fastats, pull requests merged in 2018-03, with the labels that each got.

#49 LU - compact method
  fastats/linear_algebra/__init__.py
  fastats/linear_algebra/_notebooks/LU factorisation.ipynb
  fastats/linear_algebra/lu.py
  tests/linear_algebra/test_lu.py
Labels: fastats.linear_algebra, help wanted

#56 Fix pytest 3.5.0 issue in test_spearman
  tests/maths/correlation/test_spearman.py
Labels: bug

#38 Add sphinx documentation
  .github/PULL_REQUEST_TEMPLATE.md
  .travis.yml
  docs/Makefile
  docs/getting_started.rst
  docs/make.bat
  docs/one_page_overview.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/single_page_run_through.rst
  fastats/core/decorator.py
  fastats/linear_algebra/lu.py
  fastats/linear_algebra/pca.py
  releases.md
  tests/core/test_decorator.py
Labels: documentation

#52 QR Gram Schmidt
  fastats/linear_algebra/__init__.py
  fastats/linear_algebra/qr.py
  literature/ucla_qr_factorization.pdf
  releases.md
  tests/linear_algebra/test_qr.py
Labels: enhancement, fastats.linear_algebra
